{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>Records ...</h1>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone_Number</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
            <th scope="col">created_at</th>
          </tr>
        </thead>
        <tbody>
            {% if records %}
            {% for record in records %}
          <tr>
            <td scope="col">{{ record.id}}</td>
            <td scope="col">{{ record.first_name }} {{ record.last_name }}</td>
            <td scope="col">{{ record.email }}</td>
            <td scope="col">{{ record.phone }}</td>
            <td scope="col">{{ record.addresss }}</td>
            <td scope="col">{{ record.city }}</td>
            <td scope="col">{{ record.state }}</td>
            <td scope="col">{{ record.zipcode }}</td>
            <td scope="col">{{ record.created_at }}</td>
            <td scope="col"><a href="{% url 'record' record.id %}">Edit</a></td>
          </tr>
          {% endfor %}
    {% endif %}
        </tbody>
      </table>

    
    <br><br>
    
    
    {% else %}
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
       {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="text" class="form-control" name="username" placeholder="username" required>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>

        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
   {% endif %} 
</div>
{% endblock %}